<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DbFtpManager"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".ui.connections.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.connections.ConnectionListActivity"
            android:exported="false"
            android:parentActivityName=".ui.connections.MainActivity" />

        <activity
            android:name=".ui.connections.EditConnectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.connections.ConnectionListActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.ftp.FtpBrowserActivity"
            android:exported="false"
            android:parentActivityName=".ui.connections.ConnectionListActivity" />

        <activity
            android:name=".ui.database.DatabaseBrowserActivity"
            android:exported="false"
            android:parentActivityName=".ui.connections.ConnectionListActivity" />

        <activity
            android:name=".ui.database.SqlEditorActivity"
            android:exported="false"
            android:parentActivityName=".ui.database.DatabaseBrowserActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.database.TableDataActivity"
            android:exported="false"
            android:parentActivityName=".ui.database.DatabaseBrowserActivity" />

    </application>

</manifest>
